@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    width: 700px;
    height: 100vh;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px gray;
    padding: 20px;
}

h1 {
    font-family: 'roboto';
}

p {
    text-align: justify;
}

.profile {
    padding-right: 20px;
    width: 200px;
    height: 270px;
    margin: auto;
}

.contact-container {
    display: flex;
}

.contact {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    margin: 0px 10px;
}

.contact:hover {
    background-color: #808099;
    border-radius: 25px;
    color: aliceblue;
}

.contact-container-responsive {
    display: none;
}

.contact a:hover {
    color: aliceblue;
}

.icon {
    padding: 5px;
}

.header {
    display: flex;
    width: 100%;
}

table {
    text-align: left;
    width: 300px;
}

.skill-container {
    display: flex;
}

.skill {
    display: inline;
    width: 50%;
}

/* Responsive */
@media screen and (max-width: 700px) {
    body {
        width: 500px;
        height: auto;
    }

    .contact-container {
        display: none;
    }

    .contact-container-responsive {
        display: flex;
    }

    .skill-container {
        display: inline;
    }
}