@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{

    font-family: 'roboto';
}

p{
    text-align: justify;
}

.contact{
    display: flex;
    align-items: center;
}

.icon{
    padding: 5px;
}

.header{
    display: flex;
}