@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
    font-family: 'roboto';
}

p{
    text-align: justify;
}

.profile{
    padding-right: 20px;
}

.contact{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.contact-container{
    display: flex;
}

.icon{
    padding: 5px;
}

.header{
    display: flex;
}

table{
    text-align: left;
    width: 300px;
}